body {background-color: #E9FF70;}
#h1{color:#FF9770;}
#pizza{background-color:#FF7F11;}
#list{font-size:large;}
.link{color:#FF70A6; font-size:50px;}
.meat{color:#A36148; font-family: "ariel" , "fantasy"}
.vegetarian{color:#D7DDE0; font-variant: "times" , "serif"}
.sidebar{
	color:#FAE8EB;
	position:absolute;
	top: 0px;
	left:80%;
}
.title{
	width:100%;
	height:60px;
}
.container{
	position:relative
}
.content{
	position:absolute;
	top:0px;
	left:200px;
}